/** CSS GENERAL EN ELEMENTOS */
body{
    background-color: #0E151C;
    font-family: "Pixelify Sans", sans-serif;
    color: #fff;
}
section{
    padding: 30px 100px 30px 100px;
}
/** ELEMENTOS CLASES */
.seccion-contenedor{
    padding: 30px 100px 30px 100px;
}

/** NAV-BAR */
.logoNav{
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}
.nav-contenedor{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-contenedor a{
    text-decoration: none;
    color: #fff;
}
.nav-contenedor a:hover{
    color: #FF5376;
}
.nav-number{
    color: #FF5376;
}

.section-title-sub-title{
    text-align: center;
}

/** HABILIDADES */
.habilidades-flex{
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
}
.cards-habilidades{
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    padding: 30px;
    color: #000000;
    border: 1px solid #0E151C;
    border-radius: 15px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cards-habilidades h3{
    font-size: 40px;
    color: #FF5376;
    font-weight: bold;
    margin-bottom: 15px;
    align-items: center;
    gap: 10px;
}
.cards-habilidades p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
}
.cards-habilidades ul{
    font-size: 18px;
    list-style: none;
    padding: 0;
}
.cards-habilidades ul li{
    margin: 8px 0;
    padding: 5px 0;
    font-weight: 500;
    color: #444;
}
.cards-habilidades-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.cards-habilidades-title a{
    font-size: 24px;
    color: #0E151C;
    text-decoration: none;
    margin-bottom: 8px;
}
.cards-habilidades:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.logo-habilidad{
    width: 40px;
    height: auto;
    margin-top: 10px;
}

/** CLASE IDS */

/** NAV-BAR */
#navBar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoDev{
    color: #FF5376;
}

/** INICIO */
#inicio-contenedor{
    margin-top: 130px;
    margin-bottom: 200px;
}
#inicio-contenedor h3{
    font-size: 28px;
    color: #FF5376;
}
#inicio-contenedor h1{
    font-size: 90px;
}
#inicio-contenedor p{
    max-width: 700px;
    font-size: 22px;
    margin-top: 10px;
}
/** ICONOS */
#iconos-redes{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}
#iconos-redes a{
    color: #FF5376;
    font-size: 30px;
}
#iconos-redes a:hover{
    color: #fff;
}

/** HABILIDADES */
#habilidades-contenedor{
    background-color: #E0E1DD;
    color: #000000;
}
#habilidades-contenedor h2{
    font-size: 50px;
    margin-top: 15px;
    font-weight: bold;
}
#habilidades-contenedor h4{
    font-size: 25px;
    color: #FF5376;
    margin-top: 15px;
}